@charset "UTF-8";

/* コンポーネント */
.btn {
  background-color: lightcoral;
  border: none;
  border-radius: 50px;
  letter-spacing: 0.2em;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
}

.bgOrange {
  background-color: #eeb94d;
}

.fontWhite {
  color: #ffffff;
}

.txt-l {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-m {
  font-size: 20px;
  font-weight: 600;
}

/* ヘッダーブロック */
.title {
  margin-left: 135px;
  margin-right: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.title p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.logo img {
  width: 128px;
}

.btnContactS {
  padding: 5px 50px;
  margin-left: auto;
}

/* メインブロック */

.main {
  height: 500px;
  background-image: url(../img/main.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 300px;
  margin-bottom: 20px;
}

/* section1 */
.guidance {
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guidance p {
  margin-bottom: 40px;
}

.importantTxt {
  background-color: #fff;
  color: red;
}

.btnContactL {
  padding: 30px 120px;
  max-width: 1028px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btnContactL p {
  margin-bottom: 0;
  color: white;
}

.snsIcon .snsIconList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.snsIconList .snsIconItem + .snsIconItem {
  margin-left: 5px;
}
