@charset "UTF-8";

/* ヘッダーブロック */
.title {
  margin-left: 135px;
  margin-right: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.title p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.logo img {
  width: 128px;
}

button {
  background-color: lightcoral;
  border: none;
  border-radius: 30px;
  padding: 5px 50px;
  color: #fff;
  letter-spacing: 0.2em;
  margin-left: auto;
}

/* メインブロック */

.main {
  height: 500px;
  background-image: url(../img/main.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 300px;
  margin-bottom: 20px;
}

.txt-l {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-m {
  font-size: 20px;
  font-weight: 600;
}
